{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>DP Chat APP</title>
    <link rel="stylesheet" href="{% static 'Style/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/fav-icon.png' %}" type="images/x-icon">
  </head>
  <body>
    <!-- Header -->
    <header id="header" >
      <div class="logo">
        <img src="{% static 'images/fav-icon.png' %}" alt="DP Chat" draggable="false">
        <h5>ADP Chat</h5>
      </div>

      <span>
        Logout the chat Page 
        <a href = "{% url 'logout-user' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path d="M9.56152 21.2559H5.56152C5.03109 21.2559 4.52238 21.0451 4.14731 20.6701C3.77224 20.295 3.56152 19.7863 3.56152 19.2559V5.25586C3.56152 4.72543 3.77224 4.21672 4.14731 3.84165C4.52238 3.46657 5.03109 3.25586 5.56152 3.25586H9.56152" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.5615 17.2559L21.5615 12.2559L16.5615 7.25586" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21.5615 12.2559H9.56152" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </span>
    </header>

    <!-- Welcome Message -->
    {% if request.user.is_authenticated  %}
    <center><h1>Hello , Welcome to my chat site ! {{request.user}}</h1></center>
    <br>

    <!-- Chat Room -->
    {% endif %}
    <div
      class="chat__item__container"
      id="id_chat_item_container"
    >
      <br />
      
    <!-- Chat Input -->
      <div class="send-chat" onclick="width:100%">
        <input type="text" id="id_message_send_input" placeholder="chat..." />
        <button type="submit" id="id_message_send_button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M22 2L11 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M22 2L15 22L11 13L2 9L22 2Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>

      <br />
      <br />
    </div>
    <script>
      const chatSocket = new WebSocket("ws://" + window.location.host + "/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };
      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };
      document.querySelector("#id_message_send_input").focus();
      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
        }
      };
      document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector(
          "#id_message_send_input"
        ).value;
        chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
      };
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var div = document.createElement("div");
        div.innerHTML = data.username + " : " + data.message;
        document.querySelector("#id_message_send_input").value = "";
        document.querySelector("#id_chat_item_container").appendChild(div);
      };
    </script>
  </body>
</html>
