@import url(typography.css);
@import url(variables.css);
@import url(components.css);

*{
    box-sizing: border-box;
    font-family: 'Vazir';
}
::selection {
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.034);
  }
html
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

body
{
    border-radius: 32px;
    padding: 120px 120px 0px 120px;
    margin: auto;
    height: 90%;
    width: 900px;
    background-color: #eff1f3;
}